<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>BLACKMAMbA</title>
</head>
<body>
this is home

<div data-ng-controller="InputCtrl">
	The user selected avoid: {{user.avoid}} <br />
	The user wanted to notify: {{user.notify}}
</div>

	<div data-ui-view="map"></div>	
	<div data-ui-view="input"></div>	
</body>
</html>